<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="menu-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="resumen-content">
  
  <div class="main-container">
    
    <div class="section-header">
      <h1 class="page-title">Últimas transacciones</h1>
      <ion-button fill="clear" class="btn-calendar">
        <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
      </ion-button>
    </div>

    <ion-list lines="none" class="transactions-list">
      
      <ion-item *ngFor="let item of listaMovimientos" class="transaction-item">
        
        <div slot="start" class="icon-box">
          <ion-icon name="wallet-outline"></ion-icon>
        </div>

        <ion-label>
          <h2>{{ item.categoria }}</h2>
          <p>{{ item.fecha | date:'dd MMM yyyy' }}</p> </ion-label>

        <ion-note slot="end" class="amount-text">
          - ${{ item.monto | number:'1.2-2' }}
        </ion-note>
      </ion-item>

      <div *ngIf="listaMovimientos.length === 0" class="empty-state">
        <p>No hay transacciones registradas.</p>
      </div>

    </ion-list>

  </div>

</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button selected="true" (click)="irAResumen()">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Reportes</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="irAHome()">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="irAConfig()">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Config.</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-footer>