<div *ngIf="!(authService.user$ | async)" class="ion-text-center login-box">
  <img src="assets/icon/favicon.png" style="width: 100px; margin-top: 50px;">
  <h1>Mi App Financiera</h1>
  <ion-button (click)="login()" expand="block" shape="round">
    <ion-icon slot="start" name="logo-google"></ion-icon>
    Entrar con Google
  </ion-button>
</div>

<div *ngIf="authService.user$ | async as user">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Hola, {{ user.displayName }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <p>Tu balance actual es...</p>
  </ion-content>
</div>