.splash-content {
  // Fondo Sólido (#FFFFFF)
  --background: #FFFFFF;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

.logo-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  // Usamos el verde de tu paleta (#4CAF50) para el borde o fondo
  border: 4px solid #4CAF50; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9; // Un fondo muy sutil o blanco
  box-shadow: 0 4px 10px rgba(0,0,0,0.1); // Un poco de sombra para profundidad

  .symbol {
    font-size: 60px;
    font-weight: bold;
    color: #4CAF50; // Símbolo $ en verde
    font-family: sans-serif;
  }
}